<!DOCTYPE html>
<html>

<head>
    <title>Apotheke - Cart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>


<body>
    <%- include('./partials/header.ejs') %>
    <h2>Cart</h2>
    <main>
        <% if (!products.length) { %>
        <p class="empty-cart">Your Cart Is Currently Empty</p>
        <section class="products">
            <% } %>
            <ul class="flex product-list">
                <% products.forEach(product => { %>
                <li class="product-layout">
                    <div class="product-card">
                        <img class="product-img" src="<%= product.imageUrl %>" alt="<%= product.name %>" />
                        <h3 class="product-name"><%= product.name %></h3>
                        <p class="description"><%= product.description %></p>
                        <p class="price"><%= product.price %></p>
                    </div>
                    <% }) %>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>