<!DOCTYPE html>
<html>

<head>
    <title>Apotheke - Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <h1>Products</h1>
    <ul>
        <% products.forEach(product => { %>
        <li>
            <%= product.name %>
            <button data-task="add" <%= !isAuthenticated ? "disabled" : "" %> data-product-id="<%= product._id %>">
                Add To Cart
            </button>
            <% if (cart.find(({ productId }) => product._id == productId)) { %>
            <button data-task="delete" <%= !isAuthenticated ? "disabled" : "" %> data-product-id="<%= product._id %>">
                Remove From Cart
            </button>
            <% } %>

        </li>
        <% }) %>
    </ul>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            Array.from(document.querySelectorAll('button[data-task="add"]')).forEach(button => {
                button.addEventListener('click', function onClick({ target }) {
                    const productId = target.dataset.productId;
                    fetch('/cart/', {
                        method: 'POST',
                        mode: 'cors',
                        credentials: 'same-origin',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            productId,
                        }),
                    })
                });
            })
            Array.from(document.querySelectorAll('button[data-task="delete"]')).forEach(button => {
                button.addEventListener('click', function onClick({ target }) {
                    const productId = target.dataset.productId;
                    console.log("Delete me");
                    fetch(`/cart/product/${productId}`, {
                        method: 'DELETE',
                        mode: 'cors',
                        credentials: 'same-origin',
                    })
                });
            })
        })

    </script>
</body>

</html>